- name: Fetch Scholar Data via SerpApi
  env:
    SERPAPI_KEY: ${{ secrets.SERPAPI_KEY }}
  run: |
    python -c "
    import os, yaml, requests
    
    api_key = os.environ.get('SERPAPI_KEY')
    author_id = 'mLs4L3UAAAAJ'
    pubs = []
    start = 0

    while True:
        url = f'https://serpapi.com/search.json?engine=google_scholar_author&author_id={author_id}&sort=pubdate&api_key={api_key}&start={start}&num=100'
        response = requests.get(url)
        data = response.json()
        
        articles = data.get('articles', [])
        if not articles:
            break
            
        for pub in articles:
            pubs.append({
                'title': pub.get('title', ''),
                'year': pub.get('year', ''),
                'author': pub.get('authors', ''),
                'journal': pub.get('publication', ''),
                'url': pub.get('link', '')
            })
            
        # Increment start for the next page
        start += 100
        
        # Stop if we have fetched everything or if there's no next page token
        if 'next_page_token' not in data.get('serpapi_pagination', {}):
            break
            
    with open('_data/publications.yml', 'w') as f:
        yaml.dump(pubs, f, sort_keys=False)
    "
